/* Fonts*/
@font-face {
    font-family: "nevis";
    src: url("./css/fonts/nevis.eot");
    src: url("./css/fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("./css/fonts/nevis.woff") format("woff"),
        url("./css/fonts/nevis.ttf") format("truetype"),
        url("./css/fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fjalla";
    src: url("./css/fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "icons";
    src: url("./css/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")format('svg'),
        url("./css/fonts/websymbols-regular-webfont.eot"),
        url("./css/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("./css/fonts/websymbols-regular-webfont.woff") format("woff"),
        url("./css/fonts/websymbols-regular-webfont.ttf") format("truetype");

        font-weight: normal;
    font-style: normal;
}

/* General styles */

* {
    margin: 0px;
    padding: 0px;

}

/* forms */

input[type="text"],
input[type="email"],
input[type="password"],
select {
    border: 0.0625rem solid #c9c9c9;
    box-shadow: 0rem 0rem 0.125rem #ccc inset;
    padding: 0.0625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    color: gray;
    transition: all 300ms;
}


input[type="text"] :focus,
input[type="email"] :focus,
input[type="password"] :focus,
select:focus {

    border: 0.0625rem solid #70b231;
    color: black;

}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    display: block;
    border-radius: 0.125rem;
    border: 0.0625rem solid green;
    width: 3.75rem;
    padding: 0.1875rem;
    background-color: #70b231;
    cursor: pointer;
    color: white;
}


input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    box-shadow: 0rem 0rem 0.125rem gray;
}


input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0rem 0rem 0.1875rem gray inset;
    text-shadow: 0rem 0rem 0.0625rem #ccc;
}





body {
    background-image: url("../img/paven.png");
}

a {
    color: #529125;
    text-decoration: none;
}

a:visited {
    color: #529125;
    text-decoration: none;
}


a:hover {
    color: #285616;
    text-decoration: none;
}


/* headboard */

#header {
    min-width: 64rem;
    width: 100%;
    height: 15.625rem;
    margin: 0px auto;
}

#header a {
    text-decoration: none;
}

#header #logo {
    width: 48.125rem;
    margin: 0px auto;
    padding-top: 1.25rem;
}

#header #logo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 8.75rem;
}

#header h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #70b231;
    font-family: "nevis";
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-top: 0.625rem;
    text-shadow: 0rem 0.125rem 0.008rem #333333;
    transition: all 300ms;
}

#header h1:hover {
    text-shadow: 0rem 0.125rem 0.008rem #333333, 0rem 0rem 0.25rem #70b231;

}

#header h1 a {
    text-align: center;
    font-size: 2.5rem;
    color: #70b231;
}

/* Navigation bar */

#nav {
    width: 100%;
    background-color: #333333;
    color: white;
    height: 2.5rem;
    font-family: sans-serif, helvetica, arial;
    font-size: 0.875rem;
    box-shadow: 0rem 0rem 0.125rem gray;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0rem auto;
    width: 68.125rem;
}

#nav>ul>li {
    line-height: 2.5rem;
    float: left;
    border-right: 0.0625rem solid gray;
    transition: all 300ms;
}


#nav>ul>li a {
    display: block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
    text-decoration: none;

}

#nav>ul>li>a:first-child {

    border-left: 0.0625rem solid gray;

}

#nav>ul>li:hover {
    background-color: #70b231;
    box-shadow: 0rem 0rem 0.23rem green inset;
}


/* submenu */

#nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 10rem;
    box-shadow: 0rem 0rem 0.125rem gray;
    z-index: 1;
}

#nav>ul>li:hover>ul {
    display: block;

}


#nav>ul>li:hover>ul>li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #D6D6;
    padding: 1.5rem;
    line-height: 0.5625rem;
    font-size: 0.8125rem;
    transition: all 300ms;

}


#nav>ul>li:hover>ul>li a {
    color: #666666;
}

#nav>ul>li:hover>ul>li:hover {
    box-shadow: 0rem 0rem 0.375rem #ccc inset;
    background-color: beige;
}

/*content*/
#content {
    width: 78.125rem;
    min-height: 68.75rem;
    margin: 0rem auto;
    font-family: sans-serif, Arial, Helvetica;
}


/* Sidebar */

#aside,
#phrase {
    clear: both;
    width: 12.5rem;
    float: left;
    margin: 1.875rem;
    background-color: white;
    border: 0.0625rem solid #ccc;
    box-shadow: 0rem 0.125rem 1.125rem gray;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#phrase {

    width: 11.25rem;
    padding: 0.600rem;
    font-size: 0.875rem;
    font-family: sans-serif;
}

#aside .widget {
    display: block;
    width: 11.25rem;
    height: 15rem;
    margin: 0.3125rem auto;
    padding: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 0.875rem;
    border-bottom: 0.0635rem dashed #333333;
}

#aside .widget:last-child {

    margin-bottom: 1.25rem;

}

#aside h3 {
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 0.125rem;
    padding-bottom: 1.225rem;
    margin-bottom: 0.9375rem;
    background: #f2f3f2;
    border-bottom: 0.0625rem solid #ccc;
    border-left: none;
    border-right: none;
}

.blue {
   
    color: rgb(60, 147, 178) !important;
   
}

.pink{
    color: rgb(216, 46, 103)  !important;;
}
#aside li {
    margin-top: 0.5rem;
    margin-bottom: 0.3125rem;
    margin-left: 1.25rem;
    list-style: square;
}

/* forms sidebar */

#aside div label,
#aside div input[type="text"],
#aside div label,
[type="email"] #aside div label,
[type="password"] #aside div label a {
    display: block;
    width: 95%;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}


#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {
    margin-top: 0.3125rem;
    margin-bottom: 0.625rem;
}


#aside input,
#aside label {
    margin: 0rem auto;
    text-align: center;
}


/* sections */

#sections {
    float: right;
    width: 75%;
    font-family: sans-serif;
    margin-right: 1.25rem;
}

h2 {
    font-family: "fjalla";
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.0625rem;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    margin-top: -1.25rem;
    border-bottom: 0.0625px solid #ccc;
}


#sections section {
    margin-top: 2.5rem;
    background-color: white;
    padding: 1.25rem;
    border: 0.0625rem solid #ccc;
    box-shadow: 0rem 0rem 0.25rem #c9c9c9;
    color: #333;
    font-size: 1rem;
    overflow: hidden;

}


.article {
    margin: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

}

.date {
    color: gray;
    font-size: 0.875rem;
}


.stickerOne,
.stickerTwo {
    position: absolute;
    margin-top: -3.2rem;
    z-index: 0;

}

.stickerTwo {
    margin-left: 56%;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.icon{
    font-family: "icons";
    float: left;
    margin-right: 0.3125rem;
    margin-top: -0.125rem;
}

.blue{
    color: rgb(35, 65, 196);
}


.clearfix{
    float:none;
    clear: both;
}


#history{
    float: right;
    margin-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 1.25rem;
}
/* footer */


#footer{
    width: 100%;
    margin: 0rem auto;
    text-align: center;
    margin-top: 2.5rem;
    background-color: #333;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: white;
    font-family: sans-serif,Arial, Helvetica;
    font-size: 0.875rem;
    box-shadow: 0rem 0rem 0.125rem gray;
}
